<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /foot-picking-up
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /foot-picking-up/index.html [L]
</IfModule>